<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mapa</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid [fixed]="true" >
    <ion-row>
      <ion-col>
        <ion-card-header>
          <ion-card-title>A donde vamos???</ion-card-title>
          <ion-label>
            <p>Aqui esta el mapa</p>
          </ion-label>
        </ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-button>Actualizar</ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
