<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid [fixed]="true" >
    <ion-row>
      <ion-col>
        <ion-card-header>
          <ion-card-title>Necesitas un viaje?</ion-card-title>
          <ion-label>
            <p *ngIf="usuario">Bienvenido {{usuario}}</p>
          </ion-label>
        </ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-button expand="block"> Busquemos un viaje! </ion-button>
              </ion-item>
              <ion-item>
                <ion-button expand="block">Busquemos pajeros!</ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    EnroqueGroup
  </ion-toolbar>
</ion-footer>
